.animate {
  transform: translate(0) !important;
  opacity: 1 !important;
}

.animateHeader {
  transform: translateY(-100vh);
  opacity: 0;
}

@keyframes navLineAnimate {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes navTextAnimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  40% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translate(300px, 100vh) scale(.2);
    opacity: 0;
  }

  40% {
    transform: translate(300px, 100vh) scale(.2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

@keyframes opacityLate {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 0;
    width: 20%;
    height: 30%;
  }

  100% {
    width: 80%;
    height: 100%;
    opacity: 1;
  }
}

