@import "src/styles/abstract/variables";
@import "src/styles/abstract/mixins";
@import "src/styles/base/typography";
@import "src/styles/base/animations";
@import "src/styles/base/utilities";
@import "src/styles/components/button";

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  color: white;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  background-color: $color-background;
  scroll-behavior: smooth;
}
